/*
ROTEIRO

1- linkar o css no HEAD do HTML

2 - Dentro da tag *{configurações da pagina zerada e fonte que será trabalhada)

3 - linkar fonte dentro HEAD do HTML : font-family: 'Roboto', sans-serif;

4 - Definir backgrund do BODY


*/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("./assets/backgrund-calc-roxo.png");
    background-position: auto;
    background-size: cover;
}

header {
    position: relative;
    display: block;
}

.img-01 {
    width: 14%;
    margin-top: 10px;
    margin-left: 20px;
}

h1 {
    display: inline;
    font-size: 80px;
    font-weight: 600;
    position: absolute;
    text-align: left;
    color: blueviolet;
}

main {
    background-color: aliceblue;
    display: inline-block;
    border-radius: 20px;
    width: 60%;
    height: 55%;
    position: absolute;
    margin: 40px 0 0 15%;
    margin-left: 10%;
    padding: 30px;
}

label {
    color: #9e8707;
    font-size: 14px;
    font-weight: 400;
}

.l-1 {
    margin-right: 20px;
}

.l-2 {
    margin-right: 20px;
}

.digite-o-valoro {
    width: 100px;
}

button {
    display: block;
    width: 327px;
    height: 48px;
    border-radius: 5px;
    background: #772FD3;
    color: blanchedalmond;
    font-size: 30px;
    margin: 20px auto;
    cursor: pointer;
}

section {
    border-radius: 20px;
    border: 1px solid #772FD3;
    width: 90%;
    margin: 10px auto;
    align-items: center;

}

.colunas {
    display: inline-block;
    position: relative;
    width: 32%;
    text-align: center;
    
}

.brazil {
    width: 80px;
    margin-top: 20px;
}

.p-1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.dolar-euro {
    width: 80px;
    margin-top: 20px;
}

.arrow {
    margin-bottom: 40px;
    
}

.p-2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.img-omega {
    width: 45%;
    margin-left: 60%;
    margin-top: 15px;
}